@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,200&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');



canvas {
    width: 100%;
     background: #eee; 
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: rgba(235, 246, 246, 0.673);
}

header{
    background-color: bisque;
    /* padding: 10px; */
    text-align: center;
    height: 5vh;
    width: 100%;
}



.footer{
    height: 40px;
    margin-top: -40px;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: right;
}


.content{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    padding-bottom: 40px;
    min-height: 85vh;
    align-items: center;
    gap:100px
}


.left-side{
    width: 600px;
    background-color: aliceblue;
    max-height: 800px;
    padding: 80px 50px;
    flex-shrink: 5;
    border:1px solid #1f42ad;

}
.right-side{
    max-width: 1200px;
    min-width: 800px;
    max-height: 800px;
    flex-shrink: 5;
    position: relative;
}


.main_logo{
    width: 100%;
}
fieldset{
   
    border: 2px dashed blue;
    padding: 40px;
    width: 80%;
    margin: auto;
  
}

input{
    border: 0,5px solid rgb(20, 20, 136);
    padding: 5px;
    width: 90%;
    background-color: inherit;
    outline: none;
    display: block;
    margin: 5px auto;
    border-radius: 15px;
}
#agree{
    width: 20px;
    height: 20px;
    margin: 0;
}
.points{
    margin-top: 30px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
input[type="button"]{
    max-width: 400px;
    padding: 10px;
    margin: 30px auto;
    display: block;
    
}



.rules{
    margin: 20px 0;
    text-decoration: underline;
}
#Results{
    display: none;
}
#Pause{
    display: none;
}
.IPAGEcontainer{
    width: 100%;
    height: 800px;
    border:1px solid black;
    background-color: bisque ;
    overflow: auto
}
.resultTable{
    width: 50%;
    margin: 20px auto;
    background-color: aliceblue;
    border:1px dotted black;
    max-height: 600px;

}
.resultTable td{
    padding: 10px;
}
.resultTable tr:nth-child(1){
    color: rgb(24, 31, 158);
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
}

.text{
    font-weight: bold;
    font-size: 28px;
    color: #1f42ad;
    text-align: center;
    
}
.container{
    height: 10vh;
    justify-content: center;
    align-items: center;
    display: flex;
}




.arrowRight, .arrowLeft{
   width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 50%;
    right: 0;
    display: none;
    background: url(images/right\ \(2\).png) ;
    background-size: cover;
    opacity: 0.3;
   
}
.arrowLeft{
    left:0 ;
    background: url(images/left.png);
    background-size: cover;
   
}
@media (max-width: 1500px) {
    .content{
        flex-direction: column-reverse;
        padding: 70px 0px;
    }
    .left-side{
        padding-left: 10px;
        padding-right: 10px;
    
    }
    .right-side{
        min-width: 600px;
    }
    .arrowRight, .arrowLeft{
        display: block;
    }
    .arrowRight, .arrowLeft{
        width: 50px;
        height: 50px;
    }
}
@media (max-width: 550px) {
    .left-side{
        width: 300px;
    
    }
    .right-side{
        min-width: 300px;
    
    }
    label{
        font-size: 10px;
    }
    .points{
        gap:2px
    }
    fieldset{
        padding-left: 10px;
        padding-right: 10px;
    }
}